/.bundle/
.idea/
/.yardoc
/_yardoc/
coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
/test/reports/
.rakeTasks
influxdb-client-*.gem
/TAGS
vendor
docs
/.openapi-generator/
bin/generated/
bin/cloud.yml
bin/oss.yml
bin/influxdb-clients-apigen/